<!doctype html>
<html>
    <head>
        <title>EXAMPLES</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div ng-controller="ExampleTypescriptController as controllerVm">

            <input ng-model="controllerVm.name"> <button ng-click="controllerVm.sayHello()">SAY HELLO</button>
            <div>
                <strong>BINDING: </strong>
                Hello, {{controllerVm.name}}!
            </div>
            <div>
                <strong>ACTION: </strong>
                {{controllerVm.greeting}}
            </div>

        </div>
    </body>
</html>